.header{   <!-- CSS property for header section -->
    background-color: rgb(53, 52, 63);
    color: var(--white);
    display: flex;
    height: 64px;
    box-shadow: 0px 8px 32px #272a5846;
}
<!-- CSS property for navigation menu -->
.navBrandDiv{
    align-items: center;
    display: flex;
    flex: 2;
    justify-content: flex-start;
    margin-left: 64px;
    width: 100%;
}

.navBrand{
    font-family: 'Kreon', serif;
    font-size: 22px;
    letter-spacing: 2px;
    margin: 0px 0px 0px 0px;
}

.navBrandAnchor{
    font-weight: 700;
    color: var(--white);
}

.headerNav{
    display: flex;
    flex: 10;
    justify-content: flex-end;
    width: 100%;
}

.navList{
    display: flex;
    align-items: center;
    margin-right: 64px;
}

.navListItem{
    margin: 0px 32px 0px 16px;
}

.navListItem:last-child{
    margin: 0px 0px 0px 16px;
}

.signinAnchor{
    border: solid 2px var(--white);
    border-radius: 2px;
    padding: 4px 8px 4px 8px;
}
