.main{
    background-color: var(--white);
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: center;
}

.signup{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.signupSpacing{
    width: 512px;
    padding: 0px 64px 0px 64px;
}

.signupH1{
    font-family: 'Kreon', serif;
    font-size: 32px;
    letter-spacing: 4px;
    color: var(--black);
    text-align: center;
    margin: 0px 0px 32px 0px;
}

.form{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.formInput{
    background-color: var(--white);
    border: solid 2px #535353;
    border-radius: 2px;
    color: var(--black);
    font-size: 16px;
    height: 24px;
    padding: 8px 8px 8px 16px;
    margin-bottom: 16px;
}

.formInputSubmit{
    background: rgb(53, 52, 63);
    border: solid 2px rgb(90, 90, 90);
    border-radius: 2px;
    color: var(--white);
    font-size: 18px;
    padding: 6px 6px 6px 6px;
    margin-bottom: 16px;
}