<!DOCTYPE html>
<html>
<head>
	<title> Easy Reports </title>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/magis.css">

	<link href="https://fonts.googleapis.com/css?family=Kreon:300,400,700&display=swap" rel="stylesheet">
</head>
<body>  
	<header class="header">
		<div class="navBrandDiv">
			<h1 class="navBrand"> Easy Reports </h1>
		</div>
		<nav class="headerNav">			
			<ul class="navList">
				<li class="navListItem">
					<a class="navBrandAnchor" href="/reports"> Reports </a>
				</li>
				<li class="navListItem">
					<a class="navBrandAnchor" href="/report"> Reports </a>
				</li>
			</ul>
		</nav>
	</header>
	
	
	

</body>
</html>