<!DOCTYPE html>
<html>
<head>
	<title> Easy News </title>

	<link rel="stylesheet" href="/static/css/magis.css">
	<link rel="stylesheet" href="/static/css/main.css">

	<link href="https://fonts.googleapis.com/css?family=Kreon:300,400,700&display=swap" rel="stylesheet">
</head>
<body>
	<h1> Easy News </h1>

</body>
</html>