<!DOCTYPE html>
<html>
<head>
	<title> Easy Reports </title>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="css/magis.css">
	<link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/signin.css">

	<link href="https://fonts.googleapis.com/css?family=Kreon:300,400,700&display=swap" rel="stylesheet">
</head> 
<body>  
	<header class="header">
		<div class="navBrandDiv">
			<h1 class="navBrand"> Easy Reports </h1>
		</div>
		<nav class="headerNav">			
			<ul class="navList">
				<li class="navListItem">
					<a class="navBrandAnchor" href="/"> Home </a>
				</li>	
			</ul>
		</nav>
    </header>
    
    <main class="main">
		<section class="signin">
			<div class="signinSpacing">	
				<a href="/">
					<h1 class="signinH1"> Easy Reports </h1>	
				</a>
				<form action="" method="POST" class="form">
					<input class="formInput" type="text" name="usuario" placeholder="Usuário ou Email" >
					<input class="formInput" type="password" name="senha" placeholder="••••••••">
					<div class="signinAnchorDiv">
						<a class="signinFormAnchor" href="/signup"> Criar Conta </a>
						<a class="signinFormAnchor" href="/forgot_password"> Esqueci Minha Senha </a>
					</div>
					<input class="formInputSubmit" type="submit" value="Entrar">
				</form>
			</div>
		</section>
	</main>

</body>
</html>