<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title> Easy Reports </title>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/css/magis.css">

	<link href="https://fonts.googleapis.com/css?family=Kreon:300,400,700&display=swap" rel="stylesheet">
</head>
<body>
	<h1> Reports </h1>
	<p> Hello everybody this is the today's Reports!</p>

	<a href="/report"> Report </a>
	<a href="/"> Home </a>
</body>
</html>